@import url('themes.css');

body {
    padding: 20px;
    background-color: var(--primary-bg-color);
}

header {
    display: flex;
    justify-content: end;
    gap: 1rem;

    padding: 10px;
    background-color: var(--secondary-bg-color);
}

button {
    font-size: 1rem;
}