body {
    height: 100vh;           
    margin: 0;         
    display: flex;          
    justify-content: center; 
    align-items: center;
}


.container {
    width: 500px;          
    height: 500px;          
    overflow-y: auto;     
    padding: 10px;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 100px;          
    background-color: salmon;
    margin-bottom: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#load {
    height: 30px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#num {
    margin-left: 20px;
}
